/* ------- FORMS ------- */
.defaultForm input[type="text"] { padding:5px; width:100%; border: 1px solid #ccc; }
.defaultForm select { padding:5px; width:100%; border: 1px solid #ccc; }
.defaultForm textarea { padding:5px; width:100%; border: 1px solid #ccc; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
.defaultForm input[type="submit"] { background-color: #000; border: 0px; color:#FFFFFF; cursor:pointer; padding-top: 10px; padding-right: 15px; padding-bottom: 10px; padding-left: 15px; font-size:11px;  margin-top: 20px; border-radius: 5px;  }
.defaultForm input[type="submit"]:hover { background-color: #333; border-radius: 5px; }
.defaultForm input[type="button"] { background-color: #333; border: 0px; color:#FFFFFF; cursor:pointer; padding-top: 5px; padding-right: 15px; padding-bottom: 5px; padding-left: 15px; }
.defaultForm input[type="button"]:hover { background-color: #666; }
.defaultForm table { width:100%; border-collapse:collapse; }
.defaultForm table td { border-top:1px solid #CCCCCC; border-bottom:0px solid #CCCCCC; border-left:0px solid #CCCCCC; border-right:0px solid #CCCCCC; padding:10px; }
.error { padding:10px; border:solid 1px #AA0000; color: #AA0000; margin-bottom:10px; }

/* ------- CUSTOM FOOTER -------
.customFooter{width:100%; height:100px; line-height:100px; margin:auto; font-size:11px; background-color: #333333; text-align: center; color:#FFF; }.customFooter a:link, .customFooter a:visited, .customFooter a:hover{color:#FFFFFF; }
*/
/* ======================= PAGE TOP MARGIN ========================== */

/* ====================== FONT ITEMS ============================== */

h1 {font-family: helvetica, arial, sans-serif; font-size: 60px; color: #fff;}
h2 {font-family: calibri, sans-serif; font-size: 17px; color: #333;}
p {font-family: calibri, sans-serif; font-size: 14px; color: #565656;}
/* ======================= TOP RIGHT NAV ============================ */
.topNav a, .topNav h3{font-size: 14px; text-decoration: none; font-weight: normal; color: #565656;}
.topNav a:hover {text-decoration: underline;}

/* ====================== MAIN NAV BLOCKS ======================= */

.mainNav {width: 160px; height: 160px;}
.navBox1 {width: 70px; height: 70px; margin: 0 5px 5px 0; background: #376092; float: left;}
.navBox1 a{font-size: 20px; color: #fff;text-decoration: none; line-height: 26px;}
.navBox2 {width: 70px; height: 70px; margin: 0 5px 5px 0; background: #953735; float: left;}
.navBox2 a{font-size: 20px; color: #fff;text-decoration: none; line-height: 26px;}
.navBox3 {width: 70px; height: 70px; margin: 0 5px 5px 0; background: #77933c; float: left;}
.navBox3 a{font-size: 20px; color: #fff;text-decoration: none; line-height: 26px;}
.navBox4 {width: 70px; height: 70px; margin: 0 5px 5px 0; background: #666666; float: left;}
.navBox4 img {mx-width: 70px;}

/* ====================== HEADING BLOCKS ============================ */

.homeHeading {width: 600px; height: 95px; background: #666; padding: 70px 0 0 0px;}
.homeHeading h1 {font-size: 40px;}

.aboutHeading {width: 600px; height: 95px; background: #376092; padding: 70px 0 0 0px;}

.supportHeading {width: 600px; height: 95px; background: #953735; padding: 70px 0 0 0px;}
.supportHeading h1 {font-size: 40px;}

.fundsHeading {width: 600px; height: 95px; background: #77933c; padding: 70px 0 0 0px;}
.fundsHeading h1 {font-size: 40px;}


/*###################### COOKIE POP-UP STYLE ########################## */

#cookieConfig {
width: 350px;
height: 210px;
position: fixed;
bottom:0;
right: 3%;
background: #666666;
-moz-border-radius: 12px 12px 0px 0px;
-webkit-border-radius: 12px 12px 0px 0px;
border-radius: 12px 12px 0px 0px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
padding: 25px;
}
.cookieConfigTitle {
font-family: 'Helvetica', Arial, sans-serif;
font-weight: bold;
font-size: 24px; color: #FFF; margin-bottom: 20px;
color: #FFF;
}
.cookieConfigMessage, .cookieConfigPrivacy{
color: #FFF;
margin-bottom: 10px;
}
#cookieConfig a{ color: #6bec51; }
.cookieConfigAccept a{
width: 110px;
height: 34px;
background: url('/_img/accept.png') no-repeat bottom center;
display: block;
text-indent: -9999px;
float: left;
margin: 20px 20px 0 50px;
}
.cookieConfigAccept a:hover{
background-position: top;
}

.cookieConfigReject a{
width: 110px;
height: 34px;
background: url('/_img/reject.png') no-repeat bottom center;
display: block;
text-indent: -9999px;
float: left;
margin: 20px 0px 0 0;
}
.cookieConfigReject a:hover{
background-position: top;
}


/* ====================================================================================== */

a.verify {padding: 6px 10px 6px 10px; background: #97cf1f; border-radius: 5px; color: #fff; text-decoration: none; border: 1px solid #8cbd25; }

a.verify:hover {padding: 6px 10px 6px 10px; background: #80ae1d; border-radius: 5px; color: #fff; text-decoration: none; border: 1px solid #8cbd25; }

a.verifyReject {padding: 6px 10px 6px 10px; background: #d60e18; border-radius: 5px; color: #fff; text-decoration: none; border: 1px solid #b00811;}

a.verifyReject:hover {padding: 6px 10px 6px 10px; background: #94080f; border-radius: 5px; color: #fff; text-decoration: none; border: 1px solid #b00811;}


.contactForm {width: 560px; color: #fff; padding:20px ; background: #666666;}

.error {display: none;}

.fbElementVldMsg {width: 50%; float: left; color: #fff; text-align: right;}

.fbElementTextLabel {width: 50%; float: left; color: #fff;}

.fbElementParaLabel {width: 50%; float: left; color: #fff;}

.fbElementText {width: 540px !important;}

.fbElementPara {width: 540px !important;}

.fbSortable {width: 540px;}



/*.footer {width: 980px; height: 30px; padding-top: 10px; margin-left: auto; margin-right: auto; text-align: center; }*/
.footer {
  padding-top: 10px;
  text-align: center;
}


/* ================= LOGIN ================ */

.SecureUsers{
background: #666;
-webkit-border-radius: 10px;
border-radius: 10px;
color:#fff;
padding:75px;;
margin-bottom:20px;
position: relative;
-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1);
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75), inset 0px 1px 1px 0px rgba(255, 255, 255, 0.1);
overflow:hidden;
width:395px;
behavior: url('/_js/PIE.htc');
}
.SecureUsers .error{
display:block;
font-family:'OpenSansRegular',Arial,Helvetica,sans-serif;
font-size:24px;
font-weight:normal;
line-height:26px;
color:#fff;
background-color: transparent;
padding:0px;
}
.formLeft{
font-family:'OpenSansRegular',Arial,Helvetica,sans-serif;
font-size:16px;
font-weight:normal;
width:40%;
}
.formRight{
width:60%;
}
.formRight input[type="text"] { padding:5px; width:97%!important; border: 1px solid #ccc; -webkit-box-shadow:inset 1px 1px 1px 0px rgba(0, 0, 0, 0.3); box-shadow:inset 1px 1px 1px 0px rgba(0, 0, 0, 0.3);}
.formRight input[type="text"]:focus{border: 1px solid #000;}
.formRight input[type="password"] { padding:5px; width:97%!important; border: 1px solid #ccc; -webkit-box-shadow:inset 1px 1px 1px 0px rgba(0, 0, 0, 0.3); box-shadow:inset 1px 1px 1px 0px rgba(0, 0, 0, 0.3);}
.formRight input[type="password"]:focus{border: 1px solid #000;}
.SecureUsers input[type="submit"] {
background: #e0d8d8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZDhkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4MDgwODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #e0d8d8 0%, #808080 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0d8d8), color-stop(100%,#808080)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e0d8d8 0%,#808080 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e0d8d8 0%,#808080 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e0d8d8 0%,#808080 100%); /* IE10+ */
background: linear-gradient(to bottom,  #e0d8d8 0%,#808080 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0d8d8', endColorstr='#808080',GradientType=0 ); /* IE6-8 */
border: 1px solid #000;
color:#333!important;
cursor:pointer;
padding-top: 6px!important;
padding-right: 25px!important;
padding-bottom: 6px!important;
padding-left: 25px!important;
font-family:'OpenSansRegular',Arial,Helvetica,sans-serif;
font-size:16px;
font-weight:normal;
/*-webkit-border-radius: 10px;
border-radius: 10px;*/
-webkit-box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.3);
box-shadow: inset 0px 1px 1px 0px rgba(255, 255, 255, 0.3);
behavior: url('/_js/PIE.htc');
float:right;
margin-top:10px;
}
.SecureUsers input[type="submit"]:hover {
background: #8c8c8c; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhjOGM4YyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #8c8c8c 0%, #e2e2e2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8c8c8c), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #8c8c8c 0%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #8c8c8c 0%,#e2e2e2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #8c8c8c 0%,#e2e2e2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #8c8c8c 0%,#e2e2e2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c8c8c', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-8 */
-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
 }


.termsBox {width: 100%; height: 220px; padding: 15px; margin: 15px 0px;  overflow-y: scroll; background:#e6e6e6 ; border: 1px solid #7b7b7b ; color: #565656; font-family: calibri,sans-serif; font-size: 14px; }


#confirm.feature input#confirmButton {padding: 6px 10px 6px 10px; background: #97cf1f; border-radius: 5px; color: #fff; text-decoration: none; border: 1px solid #8cbd25; }

#confirm.feature input#confirmButton:hover {padding: 6px 10px 6px 10px; background: #80ae1d; border-radius: 5px; color: #fff; text-decoration: none; border: 1px solid #8cbd25; }

#confirm.feature input#no {padding: 6px 10px 6px 10px; background: #d60e18; border-radius: 5px; color: #fff; text-decoration: none; border: 1px solid #b00811;}

#confirm.feature input#no:hover {padding: 6px 10px 6px 10px; background: #94080f; border-radius: 5px; color: #fff; text-decoration: none; border: 1px solid #b00811;}


/* Team */

.team img {max-width: 200px;}

.team td {padding: 10px; vertical-align: top; border-bottom: 1px solid #111;}
